h1.title.is-1 = @assignment.name
p Date Assigned: #{@assignment.date_due.strftime("%B %d, %Y")}
p Date Due: #{@assignment.date_due.strftime("%B %d, %Y")}

h1.title.is-1 Assigned Sections

br
a[href='/'] Back to Assignments