h1.title.is-1 Sections

= sections.each do |section|
  / = render partial: ''

/ table.table.is-striped.is-bordered
/   thead
/     tr
/       th Period
/       th Course
/       th View
/   tbody
/   - @sections.each do |section|
/     tr
/       th #{section.period}
/       th #{section.course.name}
/       td: a[href="/sections/#{section.id}"] View Section