@import "bulma";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "section_seats";
@import "assignment_grades";

// Devise Flash Messages
.notice, .alert {
  @extend .has-text-centered;
  color: white;
  line-height: 2.5em;
}
.notice { background-color: $info; }
.alert { background-color: $danger; }

