@import "bulma";
@import "font-awesome-sprockets";
@import "font-awesome";

// Devise Flash Messages
.notice, .alert {
  @extend .has-text-centered;
  color: white;
  line-height: 2.5em;
}
.notice { background-color: $info; }
.alert { background-color: $danger; }

.room {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  justify-content: space-between;
}
.seat {
  height: 75px;
  width: 75px;
  margin: 10px;
  span {
    font-size: .7em;
    font-weight: bolder;
    line-height: .1em;
  }
}