.room {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
}

.seat {
  text-align: center;
  display: table;
  .name {
    display: table-cell;
    color: white;
    background-color: $info;
    vertical-align: middle;
    font-size: .7em;
    @media screen and (min-width: 1200px) {
      font-size: 1em
    }
  }
}

// @media screen and (min-width: 1200px) {
//   .seat {
//     height: 75px;
//     width: 75px;
//     margin: 10px;
//     font-size: 1em;
//     .name {
//       display: table-cell;
//     }
//   }
// }

// @media screen and (min-width: 520px) and (max-width: 1199px) {
//   .seat {
//     height: 50px;
//     width: 50px;
//     margin: 5px;
//     font-size: .7em;
//     .name {
//       display: table-cell;
//     }
//   }
// }