.room {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
}

.seating-chart__container {
  .file {
    margin: 0 auto;
    width: 200px;
  }
}

.seating-chart__place {
  position: absolute; 
  // width: 100px;
  border: solid 3px $grey-lighter;
  .seating-chart__seat {
    text-align: center;
    display: table;
  }
  .seating-chart__name {
    display: table-cell;
    color: white;
    background-color: $info;
    vertical-align: middle;
    font-size: .7em;
    @media screen and (min-width: 1200px) {
      font-size: 1em
    }
  }
}

.seating-chart__side-panel--edit-seating {
  .seating-chart__roster-student {
    border-radius: 0px;
    margin: 5px;
  }
  .seating-chart__placeholder {
    user-select: none;
    // position: absolute;
    cursor: default;
    z-index: 1;
  }
  .seating-chart__name {
    display: block;
    width: inherit;
    background-color: $info;
    color: white;
    position: absolute;
    z-index: 2;
  }
}

.draggable {
  cursor: pointer;
}




