.room {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
}

.seat {
  height: 30px;
  width: 30px;
  margin: 4px;
  font-size: .7em;
  text-align: center;
  display: table;
  .name {
    display: none;
    vertical-align: middle;
  }
}

@media screen and (min-width: 1200px) {
  .seat {
    height: 75px;
    width: 75px;
    margin: 10px;
    font-size: 1em;
    .name {
      display: table-cell;
    }
  }
}

@media screen and (min-width: 520px) and (max-width: 1199px) {
  .seat {
    height: 50px;
    width: 50px;
    margin: 5px;
    font-size: .7em;
    .name {
      display: table-cell;
    }
  }
}